.login {
    max-width: 400px;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
}

.loginContainer {
    width: 90%;
    max-width: 400px;
    background-color: #fff;
    border-radius: 10px;
    margin: 0 auto;

    input[type="text"],
    input[type="password"] {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
    }
}

.title {
    color: var(--text-01);
    font-size: 24px;
    margin-bottom: 4px;
}

.subTitle {
    color: var(--text-03);
    font-size: 16px;
    margin-bottom: 24px;
}

.label {
    display: block;
    margin-bottom: 1px;
    font-size: 10px;
    color: #8b8b8b;
}

.loginButton {
    width: 100%;
    padding: 10px;
    background-color: #d28b41;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    &:disabled {
        background-color: #e5ba8c;
        cursor: not-allowed;
    }
}

.loginSubMenu {
    display: flex;
    justify-content: center;
    margin-top: 24px;
    margin-bottom: 34px;

    li {
        display: flex;
        justify-content: center;
        position: relative;
        align-items: center;
        &:first-child::after {
            height: 12px;
            width: 1px;
            background-color: #8b8b8b;
            content: "";
            margin: 0 8px;
        }
    }

}

.link {
    color: #8b8b8b;
    font-size: 16px;
}

.or {
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    color: #a5a5a5;
    font-size: 10px;
    margin-bottom: 16px;

    &::after {
        content: "";
        display: block;
        height: 1px;
        width: 100%;
        background: #a5a5a5;
    }
}

.orTitle {
    padding: 0 24px;
    word-break: keep-all;
    text-align: center;
    position: absolute;
    background-color: #fff;
}

.snsList {
    display: flex;
    align-items: center;
    justify-content: center;

    button {
        width: 40px;
        height: 40px;
    }
}