.item {
    width: 20%;
    min-width: 145px;
    cursor: auto;
    list-style: none;
    max-width: 161px;
    margin-left: 12px;
    margin-right: 12px;
}

.books {
    max-width: 145px;
    min-width: 145px;
}

.bookLink {
    min-height: auto;
    padding-top: 0;
    height: 100%;
    width: 100%;
}

.thumbnail {
    position: relative;
    width: 100%;
    display: flex;
    align-items: flex-end;
}

.thumbnailInner {
    overflow: hidden;
    position: relative;
    width: inherit;
    background: linear-gradient(90deg, var(--ui-05) 25%, var(--ui-05) 37%, var(--ui-05) 63%);
    border-radius: 0 4px 4px 0;
    box-shadow: 2px 2px 6px rgba(0,0,0,.1), 0 0 2px rgba(0,0,0,.2);
}

.bookPicture {
    overflow: hidden;
    position: relative;
    max-width: 145px;
    max-height: 200px;
    padding-top: 0;
    picture {
        position: static;
        opacity: 1;
        transition: opacity .7s;
    }
}

.bookImage {
    display: block;
    width: 100%;
    height: 100%;
    min-height: 0px;
    user-select: none;
    -webkit-user-drag: none;
    border-radius: 3px;
}

.textItem {
    padding-top: 12px;
    font-size: 12px;
    text-align: left;
    position: relative;
}

.textTitle {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    margin-bottom: 3px;
    white-space: normal;
    -webkit-line-clamp: 2;
    color: #242424;
    font-weight: 700;
    font-size: 16px;
    max-height: 3em;
}

.textAuthor {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    margin-bottom: 3px;
    white-space: normal;
    -webkit-line-clamp: 1;
    max-height: 1.35em;
    color: #6f6f6f;
    font-size: 14px;
}

@keyframes section-common {
    0% {
        -webkit-transform: translate3d(0, 50%, 0);
        transform: translate3d(0, 50%, 0);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1;
    }
}