:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

body {
    height: 100vh;
    color: #2d2d2d;
}

#__next {
    height: 100vh;
}

.main {
    height: 100%;
    background-color: #f8d3a2;
}

.link {
    background-color: #fff;
    border: 0;
    color: #646464;
    display: inline-block;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.kakao_login_button {
    width: 100%;
    cursor: pointer;
}

.main_wrap {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 75%;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

*::-webkit-scrollbar {
    display: none;
}