.section {
    background: #f7f7f7;
    max-width: 100%;
}

.sectionWrap {
    background: #fff;
    max-width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.textWrap {

    h2 {
        display: block;
        font-weight: 700;
        font-size: 20px;
        line-height: 28px;
        color: #242424;
        margin-bottom: 16px;
        padding: 0 24px;
        -webkit-animation: section-common 1.8s forwards;
        animation: section-common 1.8s forwards;
    }
}

.bookList {
    max-width: 1153px;
    margin: 32px auto 64px;
}

.bookSheif {
    margin: 0 auto;
}

.bookSlide {
    // overflow: hidden;
    cursor: -webkit-grab;
    cursor: grab;
    -ms-overflow-style: none;
    scrollbar-width: none;
    margin: 0;
    overflow-x: auto;
}

.slideWrapper {
    -ms-flex-align: baseline;
    align-items: baseline;
    display: inline-flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    padding-top: 16px;
    padding-right: 24px;
}

.slideWrapper {
    will-change: transform;
    pointer-events: none;
    touch-action: pan-x;
}

@keyframes section-common {
    0% {
        -webkit-transform: translate3d(0, 50%, 0);
        transform: translate3d(0, 50%, 0);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1;
    }
}