.findUser {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;    
}

.container {
    width: 90%;
    background-color: #fff;
    border-radius: 10px;
    margin: 0 auto;
}

.input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    input {
        width: 100%;
        height: 24px;
        font-size: 16px;
        text-align: left;
        color: #242424;
    }
}

.title {
    color: #242424;
    font-size: 24px;
    margin-bottom: 4px;
}

.subTitle {
    color: #6f6f6f;
    font-size: 16px;
    margin-bottom: 24px;
}