.section {
    height: 666px;
    background: linear-gradient(#f8faff 78.5%, #f0f4ff 0);
}

.sectionWrap {
    position: relative;
    display: block;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    background: url(../assets/note.jpg);
    background-repeat: no-repeat;
    background-size: 460px;
}

.textWrap {
    padding: 64px 24px 64px 80px;
    h1 {
        background-size: contain;
        -webkit-animation: section-common 1.8s forwards;
        animation: section-common 1.8s forwards;
    }
    h3 {
        background-size: contain;
        -webkit-animation: section-common 1.8s forwards;
        animation: section-common 1.8s forwards;
    }
    p {
        background-size: contain;
        -webkit-animation: section-common 1.8s forwards;
        animation: section-common 1.8s forwards;
    }
}

@keyframes section-common {
    0% {
        -webkit-transform: translate3d(0, 50%, 0);
        transform: translate3d(0, 50%, 0);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1;
    }
}