.layout {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 24px;
}

.main {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 75%;
    margin: auto;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);    
}