.drawer {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
}

.slideFromLeft {
	left: 0;
}

.enterSlideFromLeft {
	left: -100%;
}

.enterActiveSlideFromLeft {
	left: 0;
	transition: all 0.3s;
}

.exit {
	left: -100%;
	transition: all 0.3s;
}